body {
    background-image: url('/img/campus.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

header, main, footer {
    margin: 2em;
}

header, footer {
    text-align: center;
}

.logo {
    width: 20%;
}

.title {
    color: #fff;
}

main {
    background:transparent;
    padding: 2em;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.title_index {
    color: #fff;
}

a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 1.3rem;
}
a:hover {
    color: rgb(210, 200, 62);
}
nav ul {
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}

nav ul li a:hover {
    color: rgb(210, 200, 62);
}

form {
    width: 100%;
    max-width: 500px;
    margin: 2em auto 0;
}

form p {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    line-height: 1.5em;
}

form p label {
    margin: 0;
}

form input,
form select{
    border: solid 1px #ccc;
    border-radius: 5px;
    padding: 0.5em;
    width: 20em;
}

form button {
    background-color: #007bff;
    color: #fff;
    border-radius: 0.5em;
    width: 100%;
    margin-top: 1em;
    line-height: 2em;
    font-weight: bold;
}

form button:hover {
    background-color: #ccc;
}

form button:active {
    outline: none;
}

.cards {
    display: flex;
    justify-content: center;
    list-style: none;
    flex-wrap: wrap;
    padding: 0;
    text-align: center;
}

.cards a {
    display: block;
    text-decoration: none;
}

.cards li {
    width: 100%;
    padding: 0.5em;
}

.cards .card a {
    background-color: #007bff;
    color: #fff;
    border-radius: 0.5em;
    padding: 0.5em;
}

.cards .card figure {
    margin: 0;
}

.cards .card figcaption {
    line-height: 1em;
    margin-top: 0.5em;
}

.cards .card img {
    border-radius: 0.3em;
    width: 100%;
}

.cards .card a:hover {
    background-color: #0056b3;
}

.student {
    display: flex;
    flex-wrap: wrap;
}

.student .student-avatar {
    width: 100%;
}

.student .student-avatar img {
    width: 100%;
}

.student .student-description {
    width: 100%;
    padding: 1em;
}

.student em {
    font-style: normal;
    font-weight: bold;
}

.pagination {
    display: flex;
    justify-content: center;
}

.pagination li{
    display: inline-block;
    margin: 0 0.5em 0.5em 0;
}

.pagination li a, .pagination li span {
    display: inline-block;
    background-color: #007bff;
    color: #fff;
    border-radius: 0.5em;
    padding: 0.5em 1em;
}

.pagination li a:hover {
    background-color: #0056b3;
    text-decoration: none;
}

.pagination li span {
    background-color: #000;
}

.form_name {
    color: #fff;
}

@media (min-width: 600px) {
    .cards li {
        width: 33%;
    }
    .student {
        flex-wrap: nowrap;
    }
    .student .student-avatar {
        width: 250px;
    }
    .student .student-description {
        width: 100%;
        padding: 0 1em 1em 1em;
    }
}

@media (min-width: 900px) {
    .cards li {
        width: 20%;
    }
}